* {
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    margin: unset !important;
}

.chat-app-container {
    height: 100vh;
    width: 100%;
}

.header-section {
    height: 10%;
}

.body-section {
    height: 90%;
}

.chat-section {
    display: flex;
    height: 100%;
}

.groups-header {
    height: 10%;
    background-color: rgb(137, 183, 137);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.groups-header-text {
    color: #FFFFFF;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

.groups-name-container {
    height: 90%;
}

.create-group-container {
    display: flex;
}

.groups-container {
    width: 40%;
}

.create-group-button {
    width: 30%;
    height: 30%;
    margin: auto;
    border-radius: 10px;
    outline: none !important;
    border: none !important;
}

.common-group {
    padding: 20px;
    border-bottom: 1px;
    border-bottom-style: ridge;
    cursor: pointer;
}

.group-list li {
    padding: 20px;
    list-style-type: none;
    border-bottom: 1px;
    border-bottom-style: ridge;
    cursor: pointer;

}

.chat-container {
    height: 100%;
}

.chat-container-header {
    height: 10%;
    background-color: rgb(211, 202, 202);
}

.chat-body {
    height: 83%;
}

.common-chat-typing-container {
    height: 7%;
}

.chat-title-section {
    display: flex;
    height: 100%;
    overflow-y: hidden;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 15px;
}

.edit-container {
    display: flex;
}

.edit-button {
    width: 20%;
    height: 30%;
    margin: auto;
    display: flex;
}

.edit-groups {
    height: 100%;
    margin: auto;
    border: none;
    border-radius: 10px;
    width: 80%;
}

.chat-title {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
}

.chat-body {
    background-color: rgb(233, 232, 232);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-content {
    padding: 20px;
    list-style-type: none;

}

.chat-text, .owner-chat-text {
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.owner-chat-text span {
    background-color: rgb(242, 245, 242);
    border-radius: 20px;
    display: flex;
    padding: 13px;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
}

.chat-text span {
    background-color: rgb(173, 225, 173);
    border-radius: 20px;
    display: flex;
    padding: 13px;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
}

.chat-section-container {
    display: flex;
    justify-content: space-between;
}

.chat-time {
    padding-bottom: 0px;
    font-size: 12px;
    color: gray;
    margin-bottom: 0px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}

.chat-name-section {
    color: gray;
    font-size: 12px;
}

.chat-date-scection {
    justify-content: flex-end;
    display: flex;
    color: gray;
    font-size: 12px;
}

.message-container {
    /* height: 87%; */
}

.chat-conten-fieldt {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.group-chat-box {
    display: flex;
    height: 100%;
    border-radius: 10px;
}

.chat-input-field {
    width: 80%;
    outline: none !important;
    border: none !important;
}

.chat-send-button {
    width: 20%;
}

.chat-typing-container {
    height: 10%;
}

.group-chat-box-image {
    height: 40%;
}

.chat-send-button {
    outline: none !important;
    border: none !important;
    cursor: pointer;
}

.image-send-button {
    width: 10%;
    border-right: none !important;
    border-top: none !important;
    border-bottom: none !important;
    border-left-width: 1px;
    cursor: pointer;
}

.image-send-buttons-subsection {
    display: flex;
    gap: 20px;
    width: 80%;
    margin: auto;
}

.btn-send {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
    border-radius: 10px;
}

.choose-file-input {
    padding: 30px;
}

.create-groups {
    height: 40%;
    margin: auto;
    border: none;
    border-radius: 10px;
    width: 80%;
}

a {
    text-decoration: none !important;
}

.overlay-button-container {
    display: flex;
    gap: 10px;
    width: 70%;
    margin: auto;
}

.overlay-button-maincontainer {
    width: 100%;
    display: flex;
}

.group-creation-popup {
    display: flex;
    flex-direction: column;
}

.joined-names-subsection {
    text-align: center;
    color: gray
}

.chat-names-container {
    /* height: 90%; */
}

.edit-button-section {
    height: 100%;
    margin: auto;
    border: none;
    border-radius: 10px;
    width: 80%;
}


.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    /* right: 15px; */
    border: 3px solid #f1f1f1;
    z-index: 9;
    left: 1430px;
    /* bottom: 50px; */
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
    border-radius: 10px;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }













  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }

  .overlay-subsection {
    height: 100%;
    display: flex;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }